.color11 {
	background-color: rgb(124, 209, 142);
}
.color12 {
	background-color: rgb(142, 214, 158);
}
.color13 {
	background-color: rgb(158, 221, 170);
}
.color14 {
	background-color: rgb(175, 226, 186);
}
.color15 {
	background-color: rgb(191, 232, 198);
}

.color21 {
	background-color: rgb(255, 240, 189);
}
.color22 {
	background-color: rgb(255, 240, 189);
}
.color23 {
	background-color: rgb(255, 240, 189);
}
.color24 {
	background-color: rgb(255, 240, 189);
}
.color25 {
	background-color: rgb(255, 240, 189);
}

.color3 {
	background-color: rgb(255, 199, 224);
}
.color31 {
	background-color: rgb(255, 199, 224);
}
.color32 {
	background-color: rgb(255, 199, 224);
}
.color33 {
	background-color: rgb(255, 199, 224);
}
.color34 {
	background-color: rgb(255, 199, 224);
}
.color35 {
	background-color: rgb(255, 199, 224);
}

.color4 {
	background-color: rgb(209, 204, 237);
}
.color41 {
	background-color: rgb(209, 204, 237);
}
.color42 {
	background-color: rgb(209, 204, 237);
}
.color43 {
	background-color: rgb(209, 204, 237);
}
.color44 {
	background-color: rgb(209, 204, 237);
}
.color45 {
	background-color: rgb(209, 204, 237);
}

.color5 {
	background-color: rgb(186, 217, 238)
}
.color51 {
	background-color: rgb(186, 217, 238)
}
.color52 {
	background-color: rgb(186, 217, 238)
}
.color53 {
	background-color: rgb(186, 217, 238)
}
.color54 {
	background-color: rgb(186, 217, 238)
}
.color55 {
	background-color: rgb(186, 217, 238)
}
